* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #282035;
  background-size: contain;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow: hidden;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 10rem;
  height: 100vh;
}
.headers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.primary-heading {
  font-family: 'Playfair Display', serif;
  font-size: 6.2rem;
  background-image: linear-gradient(to right, #908143 0, #c0ac5a 22%, #f0d770 45%, #f3df8d 50%, #f0d770 55%, #c0ac5a 78%, #908143 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: border-box;
}
.secondary-heading {
  font-size: 1.8rem;
  color: #d8c265;
}
.zodiac-signs-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 7rem 6rem;
}
.zodiac-sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.zodiac-sign-img {
  width: 15rem;
  opacity: 0.6;
}

.zodiac-sign-img:hover {
  cursor: pointer;
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s;
}
a {
  text-decoration: none;
  text-align: center;
}
.zodiac-name {
  font-family: 'Playfair Display', serif;
  font-size: 1.8rem;
  color: #f0d770;
}
#zodiac-signs-grid.active {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0;
}
/* POPUP CARD */
#popup-card {
  position: fixed;
  background-color: #1d1825;
  box-shadow: 1px 10px 20px -2px rgba(0, 0, 0, 0.267);
  border: 2px solid #f0d770;
  color: #f0d770;
  max-width: 120rem;
  width: 90%;
  padding: 0.5rem;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 62%;
  left: 50%;
  visibility: hidden;
  opacity: 0;
}
#popup-card:before,
#popup-card:after {
  content: '•';
  font-size: 1.4rem;
  text-align: center;
  line-height: 12px;
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid #f0d770;
  position: absolute;
  top: 0.5rem;
}
#popup-card:before {
  left: 0.5rem;
}
#popup-card:after {
  right: 0.5rem;
}
#popup-card #popup-card-inner {
  border: 2px solid #f0d770;
  position: relative;
  padding: 4rem;
}
#popup-card #popup-card-inner:before,
#popup-card #popup-card-inner:after {
  content: '•';
  font-size: 1.4rem;
  text-align: center;
  line-height: 12px;
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid #f0d770;
  position: absolute;
  bottom: -2px;
}
#popup-card #popup-card-inner:before {
  left: -2px;
}
#popup-card #popup-card-inner:after {
  right: -2px;
}
#popup-card.active {
  top: 62%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
.popup-card-elements-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 1rem;
}
/* LOADER */
.loader-container {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.loader-container span {
  color: #d8c265;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  animation: text 3s ease-in-out infinite;
}
@keyframes text {
  50% {
    color: #1d1825;
  }
}
.popup-card-reading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.popup-card-subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.user-popup-card-daily-reading-text {
  font-family: 'Playfair Display', serif;
  line-height: 1.4;
  text-align: center;
  text-indent: 3rem;
  font-size: 2.2rem;
  color: #908143;
  margin: 0 1rem;
  letter-spacing: 0.2px;
}
/* HORIZONTAL LINE */
hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #60562d;
  color: #60562d;
  text-align: center;
}
hr:after {
  content: '§';
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: #1d1825;
}
/* PREDICTIONS */
.daily-predictions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 2.5rem 12rem;
}
.daily-prediction-container {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  background-color: hsla(272, 12%, 28%, 0.329);
  padding: 1.5rem;
  border-radius: 6px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.user-daily-prediction {
  color: #908143;
  letter-spacing: normal;
}
/* CLOSE BUTTON */
.close-button {
  font-size: 1.5rem;
  font-weight: 700;
  align-self: center;
  background-image: linear-gradient(to right, #f0d770, #f0d770 50%, #a8974e 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  transition: all 0.3s ease-in-out;
}
.close-button:before {
  content: '';
  background: #f0d770;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.close-button:hover {
  background-position: 0;
}
.close-button:hover::before {
  width: 100%;
}
/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 60%;
  }
  .zodiac-signs-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 4.5rem 5rem;
  }
  .zodiac-sign-img {
    width: 12rem;
  }
  #popup-card {
    transform: translate3d(-50%, -60%, 0);
  }
  .daily-predictions-grid {
    gap: 2rem 5rem;
  }
}
/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  html {
    font-size: 40%;
  }
  .zodiac-signs-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    gap: 4.5rem 5rem;
  }
  .zodiac-sign-img {
    width: 13rem;
  }
  .daily-predictions-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem 12rem;
  }
}
